@import './reset';
@import './base';

body {
  display: flex;
  align-items: center;
  justify-content: center;

  // cursor: none;
}

#cursor {
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;

  border-radius: 100%;

  transition: opacity 300ms;
}
